*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    overflow: hidden;
    user-select: none;
}

.btn {
    background-color: #ffd131;
}